ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
 
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
  }

p {
    color: black;
    font-size: 20px;
}

.order1 {
    color: blue;
}

body {
    background-color: lightblue;
}

.table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    width: 100%;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
